
.vs/SpringGame/v16/.suo
.vs/SpringGame/v16/Browse.VC.db
.vs/SpringGame/v16/ipch/AutoPCH/5699d00f45fd3abb/SPRINGGAMECHARACTER.ipch
.vs/SpringGame/v16/Solution.VC.db
.vs/SpringGame/v16/ipch/AutoPCH/c332bf62b2dd46bd/ONLINESESSIONMENU.ipch
.vs/SpringGame/v17/.suo
*.db
*.ipch
.vs/SpringGame/v17/fileList.bin
*.log
